.micromamba/
.tools/
a.out
*.exe
*.o
*.obj
*.ilk
*.pdb
*.gch
.cache/
.atcoder-current
.atcoder-cookie
.atcoder-debug
gcm.cache/
third_party/ac-library/
*.out
!contests/**/sample/*.out
std.o
std.compat.o
input.txt
output.txt
